body {
  margin: 0;
  font-family:'Roboto',sans-serif;
  font-size:x-large;
}

.nav-container, .nav-ul{
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn {
  height: 3rem;
  width: 10rem;
  margin: 10px;
  background-color: transparent;
  border-radius: 10%;
  cursor: pointer;
}

.ul-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5rem;
}

.list-items {
  display: flex;
  align-self: flex-start;
}

li {
  list-style-type: none;
  margin: 1rem;
}

.btn:hover {
  background-color:rgb(150, 54, 54);
  background-position: right center;
  background-size: 200% auto;
  color:#ffffff;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.search-input {
  height: 3rem;
  width: 20rem;
}

.divider {
  height: 80vh;
  width: 5px;
  background-color: rgb(0, 0, 0);
  margin-bottom: 50px;
  margin-right: 80px;
}

.page-center {
  display: grid;
  grid-template-columns: auto auto;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  padding-left: 5rem;
  margin-left: 300px;
}

.row-info {
  display: flex;
  margin: 10px;
}

h5 {
  margin: 5px;
}

img {
  height: auto;
  width: 5rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}